.btn-create {
  background-color:  #0f5132;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 25px;
}

.myNavbar {
  background-color : #0f5132;
  color: white;
}

.myNavButton {
    background-color: #0f5132;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
  }

  .mySearchBtn {
    background-color: #08771b;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 8px 32px;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.myDashboard {
 color: rgb(255, 255, 255, 0.8);
 border-radius: 25px;
 color: #100A00;
    /* padding: 15px 32px; */
    /* text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; */
}
.nav-link{
  color: white;
}

#navlogo{
  max-width: 8%;
  height: auto;
  padding-left: 2pc;
  padding-right: 2pc;
}

#footer{
  color: #ffffff8c;
  font-family:'Paytone One', sans-serif;
  background-color : #0f5132;
  font-weight: bold;
  line-height: 0.1;
  text-align: center;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-top: auto; 
}

#main{
  font-family: 'Paytone One', sans-serif;
  background-repeat: no-repeat;
  background-image: url("../assets/background.jpg");
  position:relative;
  background-attachment: scroll;
  background-position:center;    
  background-size:cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

#Projects1{
  font-family: 'Paytone One', sans-serif;
  background-color: rgba(0,0,0,0.5);
  color: rgb(255, 255, 255,0.8);
  border-radius: 25px;
  border-color:rgba(0,0,0,0.5);
  
}

#projects2{
  font-family: 'Paytone One', sans-serif;
  background-color: rgba(0,0,0,0.5);
  color: rgb(255, 255, 255,0.8);
  border-color:rgba(0,0,0,0.0);
}

#aside{
  font-family: 'Paytone One', sans-serif;
  background-color: rgba(0,0,0,0.5);
  color: rgb(255, 255, 255,0.8);
  border-color:rgba(0,0,0,0.0);
}
#search{
padding-left: 2rem;
padding-right: 2rem;
}
