.btn-create {
    background-color: #296e2b;
  border: #443a03;
  color: #100A00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.myNavbar {
    background-color: #50af53;
    border: #067B57;
    color: white;
}

.myNavButton {
    background-color: #50af53;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .mySearchBtn {
    background-color: #08771b;
    border: none;
    color: white;
    padding: 8px 32px;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.myDashboard {
    background-color: #8EE0BB;
    border: #067B57;
    color: #100A00;
}